<div class="splash_screen">
	<img src="https://dl.dropboxusercontent.com/u/57960869/Altiviaot/logotipo.png" alt="">
	<p>by AltiviaOT</p>
</div>

<div class="login">
	<div class="container-fluid">
		<div class="form-group text-center">
			<img src="https://dl.dropboxusercontent.com/u/57960869/Altiviaot/logotipo.png" class="logo">
		</div>
		<form action="">
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Username">
			</div>
			<div class="form-group">
				<input class="form-control" type="password" placeholder="Password">
			</div>
			<div class="form-group text-center" ng-controller="LoginCtrl">
				<button ng-click="onLogin()" class="btn btn-info fullwidth">Login</button>
			</div>
			<div class="form-group text-center">
				<label>Or</label>
			</div>
			<div class="form-group text-center">
				<button class="btn btn-danger fullwidth">Login with Google</button>
			</div>
		</form>
		<a href="" class="pull-left">Sign Up</a>
		<a href="" class="pull-right">Need Help?</a>
	</div>
</div>